body {
    font-family: Arial, sans-serif;
    background-color: #e9cece;
    margin: 0;
}

h1 {
    color: #411d1d;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}