<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head(~{::title})}">
    <title>Iniciar sesión</title>
</head>
<body th:replace="~{base :: body(~{::main})}">

    <main class="container-fluid">
        <form class="form center" th:action="@{/login}" method="post">
            <div>
                <label for="username" class="form-label">Email:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div>
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div>
                <p th:if="${param.error}" th:text="'Nombre de usuario o contraseña incorrectos'"></p>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>
        </form>
    </main>


</body>
</html>