<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${product.name}">Product Details</title>
</head>
<body>
    <h1 th:text="${product.name}">Product Name</h1>
    <p th:text="${product.description}">Product Description</p>
    <p th:text="'Precio: $' + ${product.price}">Product Price</p>
    <p th:text="'Unidades disponibles: ' + ${product.stock}">Product Stock</p>
    <p th:text="'Disponible desde: ' + ${#dates.format(product.createdAt, 'dd/MM/yyyy')}">Product Created At</p>

    <form action="" method="post">
        <label for="quantity">Cantidad:</label>
        <input type="number" id="quantity" name="quantity" min="1" th:max="${product.stock}" required>
        <button type="submit">Agregar al carrito</button>
    </form>

</body>
</html>